:root {
  --color-text: #ffffff;
  --accent-color: #fac56a;
  --section-radius: 60px;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Light.woff2") format("woff2"), url("./fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Extrabold.woff2") format("woff2"), url("./fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Gilroy", system-ui, sans-serif;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
}
.container {
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
}
.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: #333333;
}
.button-circle {
  width: 64px;
  height: 64px;
  line-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.button-circle .button-content {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.button-accent {
  background-color: var(--accent-color);
}
.button-square {
  height: 84px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
.button-with-text {
  display: flex;
  align-items: center;
  gap: 20px;
}
.button-with-text .button-text {
  font-size: 16px;
  color: var(--color-text);
}
.text-input {
  outline: none;
  border: 1px solid #6e7378;
  border-radius: 10px;
  color: var(--color-text);
  background: none;
  padding: 33px 31px;
}
header {
  width: 100vw;
  height: 268px;
  position: fixed;
  top: 0;
  z-index: 100;
}
header .gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0) 0%, #333333 100%);
}
header .header-wrapper {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .header-wrapper .burger-menu {
  display: none;
  cursor: pointer;
}
header .header-wrapper .logo-small {
  display: flex;
  align-items: center;
}
header .header-wrapper .logo-small .logo {
  margin-right: 58px;
}
header .header-wrapper .logo-small .slogan {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 15px;
  text-transform: uppercase;
  color: var(--accent-color);
  width: 161px;
}
header .header-wrapper .logo-main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 27px;
}
header .header-wrapper .info-block {
  display: flex;
  align-items: center;
}
header .header-wrapper .info-block .link {
  font-size: 24px;
  display: block;
  text-decoration: none;
  color: var(--color-text);
  position: relative;
  margin-right: 115px;
}
header .header-wrapper .info-block .link::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--accent-color);
  bottom: -12px;
  left: 0;
}
header .header-wrapper .info-block .phone {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
header .header-wrapper .info-block .phone-mobile {
  display: none;
}
.section-background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 100%;
  border-top-left-radius: var(--section-radius);
  border-top-right-radius: var(--section-radius);
  overflow: hidden;
  transform-origin: center top;
}
.section-background > img {
  height: auto;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-wrapper {
  position: absolute;
  top: 100%;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  will-change: transform;
}
.section-wrapper .section-title-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}
.section-wrapper .section-title-wrapper .section-title {
  color: var(--color-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: calc(100% - 160px);
}
.section-wrapper .section-title-wrapper .section-title .title.bold-title {
  font-weight: 800;
}
.section-wrapper .section-title-wrapper .section-title .title.uppercase-title {
  font-size: 96px;
  text-transform: uppercase;
}
.section-wrapper .section-title-wrapper .section-title .title.standart-title {
  font-size: 54px;
}
.section-wrapper .section-title-wrapper .section-title .description {
  margin-top: 20px;
  font-size: 32px;
}
.section-wrapper .section-title-wrapper .section-title .tags {
  margin-top: 20px;
  font-size: 20px;
  color: #1C1C1C;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.section-wrapper .section-title-wrapper .section-title .tags .tag {
  padding: 10px 20px;
  background-color: #ffffff99;
  border-radius: 40px;
}
.section-wrapper .section-title-wrapper .section-title .tags .tag.accent {
  background-color: var(--accent-color);
}
.section-wrapper .section-title-wrapper .section-title.with-decorate::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 150px;
  background-color: var(--accent-color);
  left: 50%;
  transform: translate(-50%, -100%);
  top: -35px;
}
#application-form {
  position: relative;
  display: flex;
  align-items: center;
}
#application-form .form-inputs {
  margin-bottom: 166px;
}
#application-form .form-inputs .inputs-title {
  font-weight: 800;
  font-size: 54px;
  color: var(--color-text);
  margin-bottom: 70px;
}
#application-form .form-inputs .inputs-group {
  display: flex;
  align-items: center;
  gap: 21px;
}
#application-form .form-inputs .inputs-group .application-input {
  width: 505px;
}
#application-form .form-inputs .inputs-group .application-submit-button {
  width: 375px;
}
#application-form .phone-group {
  display: flex;
  align-items: center;
}
#application-form .phone-group .phone {
  font-weight: 800;
  font-size: 90px;
  line-height: 90px;
  text-decoration: none;
  color: var(--color-text);
  display: block;
  margin-right: 26px;
  height: 75px;
}
#application-form .phone-group .callback-link {
  margin-right: 56px;
}
#application-form .phone-group .map-preview {
  border-radius: 50%;
  cursor: pointer;
  margin-right: 17px;
  height: 64px;
}
footer {
  position: fixed;
  bottom: 0;
  z-index: 100;
}
footer .footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid var(--accent-color);
  position: relative;
  font-size: 16px;
}
footer .footer-wrapper .legal-entity {
  text-transform: uppercase;
}
footer .footer-wrapper .public-offer {
  text-align: center;
}
footer .footer-wrapper .privacy-policy {
  display: block;
  color: var(--color-text);
}
body {
  position: relative;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body.dev {
  height: auto;
  overflow: auto;
}
body.dev header .gradient {
  opacity: 1;
}
body.dev header .header-wrapper .logo-main {
  opacity: 1;
}
body.dev .filter {
  z-index: 0;
}
body.dev .section-background {
  position: relative;
  top: unset;
  transform: scale(1.2);
}
body.dev .section-wrapper {
  position: relative;
  top: unset;
  bottom: unset;
  transform: translateY(-100%);
}
body.dev .section-wrapper .half-slider {
  display: none;
}
body.dev .section-wrapper .section-title {
  opacity: 1;
}
body.dev #apartments {
  transform: translateY(-100%);
}
body.dev #application-form {
  opacity: 1;
}
body.dev footer {
  opacity: 1;
}
.filter {
  will-change: opacity;
  opacity: 1;
  z-index: 101;
}
header .gradient {
  opacity: 0;
  will-change: opacity;
}
header .header-wrapper .logo-main {
  opacity: 0;
}
.section-background {
  transform: scale(0.7);
  will-change: transform;
}
.section-background .fullscreen-slider {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.section-background .fullscreen-slider .img-wrapper {
  position: absolute;
  inset: 0;
  opacity: 0;
  width: 100%;
  will-change: opacity;
}
.section-background .fullscreen-slider .img-wrapper img {
  width: auto;
  height: auto;
}
.section-wrapper .half-slider {
  display: flex;
  color: var(--color-text);
  height: 100%;
}
.section-wrapper .half-slider .half-slider-text {
  width: 50%;
  position: relative;
}
.section-wrapper .half-slider .half-slider-text .text-wrapper {
  position: absolute;
  inset: 0;
  opacity: 0;
  will-change: transform, opacity;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 165px 0 80px;
}
.section-wrapper .half-slider .half-slider-text .text-wrapper .slide-number {
  font-size: 128px;
  margin-bottom: 60px;
}
.section-wrapper .half-slider .half-slider-text .text-wrapper .slide-title {
  font-weight: 800;
  font-size: 54px;
}
.section-wrapper .half-slider .half-slider-text .text-wrapper .slide-desc {
  margin-top: 55px;
  font-size: 32px;
}
.section-wrapper .half-slider .half-slider-img {
  overflow: hidden;
  width: 50%;
  height: 100%;
  position: relative;
}
.section-wrapper .half-slider .half-slider-img .img-wrapper {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  will-change: opacity;
  opacity: 0;
}
.section-wrapper .half-slider .half-slider-img .img-wrapper img {
  width: auto;
  height: auto;
}
.section-wrapper .slider-buttons {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  opacity: 0;
}
.section-wrapper .slider-buttons .slider-button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-wrapper .slider-buttons .slider-button.prev {
  background-color: #ffffff;
}
.section-wrapper .slider-buttons .slider-button.next {
  background-color: #1C1C1C;
}
.section-wrapper .mobile-slider {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.section-wrapper .mobile-slider > img {
  display: none;
}
.section-wrapper .mobile-slider .mobile-slider-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: #333333;
  opacity: 0;
  z-index: 1;
}
.section-wrapper .mobile-slider .swiper-button-prev,
.section-wrapper .mobile-slider .swiper-button-next {
  color: var(--color-text);
  opacity: 0;
}
.section-wrapper .mobile-slider .slider-pagination {
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%);
  z-index: 4;
  width: auto !important;
  opacity: 0;
}
.section-wrapper .mobile-slider .slider-pagination .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 1;
}
.section-wrapper .mobile-slider .slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--accent-color);
}
.section-wrapper .mobile-slider .swiper-slide .img-wrapper {
  height: 100%;
  width: 100%;
  transform: scale(0.7);
  will-change: transform;
  transform-origin: center;
  border-top-left-radius: var(--section-radius);
  border-top-right-radius: var(--section-radius);
  overflow: hidden;
}
.section-wrapper .mobile-slider .swiper-slide .img-wrapper img {
  width: auto;
  height: auto;
}
.section-wrapper .mobile-slider .mobile-slide-text {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 50px;
  padding-top: 50px;
  color: var(--color-text);
  text-align: center;
  opacity: 0;
  text-shadow: 0px 0px 15px #000000;
}
.section-wrapper .mobile-slider .mobile-slide-text .slide-title {
  font-size: 54px;
  font-weight: 800;
}
.section-wrapper .mobile-slider .mobile-slide-text .slide-description {
  margin-top: 10px;
  font-size: 25px;
}
.section-wrapper .section-title-wrapper .section-title {
  will-change: transform, opacity;
  opacity: 0;
}
.first-section-background {
  top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transform: scale(3);
  z-index: 1;
  transform-origin: top;
}
.first-section-background > img {
  height: 100%;
}
#first-section {
  top: 0;
  height: 100vh;
  z-index: 2;
}
#first-section > img {
  display: none;
  height: auto;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#first-section .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  inset: 0;
  background: #333333;
  mask-image: linear-gradient(white, white), url("data:image/svg+xml,%3csvg%20width='62'%20height='147'%20viewBox='0%200%2062%20147'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M0.539914%2020.7503C0.589397%209.28821%209.8125%20-0.0502014%2021.2908%20-0.000648378L41.4299%200.0862946C56.7692%200.152516%2061.5286%209.55128%2061.4791%2021.0133L60.9393%20146.054L36.1045%20145.947L36.2278%20117.396L24.9582%20117.347L24.8349%20145.898L9.97448e-05%20145.791L0.539914%2020.7503ZM25.0652%2092.5474L36.3348%2092.5961L36.6263%2025.0741L12.5794%2024.9703L25.3203%2033.4657L25.0652%2092.5474Z'%20fill='white'/%3e%3c/svg%3e");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%, 300px;
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  opacity: 0;
  transform: scale(11);
  transform-origin: 50% 17%;
  will-change: transform, opacity;
  z-index: 2;
  transition-property: transform, opacity;
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
}
#first-section .slogan {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 250px;
  font-weight: 800;
  color: var(--color-text);
  opacity: 0.7;
  letter-spacing: 150px;
  line-height: 110%;
  padding: 150px 80px 0;
  text-transform: uppercase;
  will-change: transform, opacity;
}
#first-section.with-mask .mask {
  opacity: 0.9;
  transform: scale(1);
}
.premium-class-background {
  z-index: 4;
}
#premium-class {
  z-index: 5;
}
.safety-and-comfort-background {
  z-index: 7;
}
#safety-and-comfort {
  z-index: 8;
}
.improvement-background {
  z-index: 10;
}
#improvement {
  z-index: 11;
}
.design-and-interior-background {
  z-index: 13;
}
#design-and-interior {
  z-index: 14;
}
.apartments-background {
  z-index: 16;
}
#apartments {
  z-index: 17;
}
#apartments .swiper-button-prev,
#apartments .swiper-button-next {
  margin-top: 0;
  position: unset;
}
#apartments .swiper-button-prev svg,
#apartments .swiper-button-next svg {
  display: none;
}
.penthouses-background {
  z-index: 19;
}
#penthouses {
  z-index: 20;
}
#penthouses .swiper-button-prev,
#penthouses .swiper-button-next {
  margin-top: 0;
  position: unset;
}
#penthouses .swiper-button-prev svg,
#penthouses .swiper-button-next svg {
  display: none;
}
#application-form {
  z-index: 22;
  opacity: 0;
  will-change: transform, opacity;
}
footer {
  opacity: 0;
}
@media (max-width: 1400px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  header .header-wrapper .logo-small .logo {
    margin-right: 0;
  }
  header .header-wrapper .logo-small .slogan {
    display: none;
  }
  header .header-wrapper .logo-main img {
    height: 120px;
  }
  header .header-wrapper .info-block .link {
    display: none;
  }
  .section-wrapper .half-slider .half-slider-text .text-wrapper {
    padding: 0 40px;
  }
  .section-wrapper .half-slider .half-slider-text .text-wrapper .slide-title {
    font-size: 40px;
  }
  .section-wrapper .half-slider .half-slider-text .text-wrapper .slide-desc {
    font-size: 22px;
  }
  .section-wrapper .section-title-wrapper .section-title {
    width: calc(100% - 80px);
  }
  #first-section .slogan {
    padding: 150px 40px 0;
    letter-spacing: 65px;
  }
  #application-form .phone-group {
    justify-content: center;
    flex-wrap: wrap;
  }
  #application-form .phone-group .phone {
    width: 100%;
    margin-right: 0;
    margin-bottom: 26px;
    text-align: center;
  }
  #application-form .phone-group .map-preview {
    display: none;
  }
}
@media (max-width: 1200px) {
  #first-section .slogan {
    font-size: 210px;
    letter-spacing: 50px;
  }
  footer .footer-wrapper {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  body {
    height: auto;
    overflow: auto;
  }
  body .filter {
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 1s;
  }
  body.ready .filter {
    opacity: 0;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  header .gradient {
    opacity: 1;
  }
  header .header-wrapper {
    padding-top: 20px;
  }
  header .header-wrapper .burger-menu {
    display: block;
  }
  header .header-wrapper .logo-main {
    display: none;
  }
  header .header-wrapper .info-block .phone {
    display: none;
  }
  header .header-wrapper .info-block .phone-mobile {
    display: block;
  }
  .section-background {
    display: none;
  }
  .section-wrapper {
    position: sticky;
    top: 0;
    bottom: unset;
    margin-bottom: 300px;
  }
  .section-wrapper > img {
    display: block;
  }
  .section-wrapper .slider-buttons {
    padding: 0 20px;
  }
  .section-wrapper .mobile-slider {
    display: block;
  }
  .section-wrapper .half-slider {
    display: none;
  }
  .section-wrapper .section-title-wrapper {
    display: none;
  }
  #first-section {
    transform: scale(1);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  #first-section > img {
    display: block;
    height: 100vh;
  }
  #first-section .slogan {
    display: none;
  }
  #first-section .mask {
    transform: scale(1);
    opacity: 0.9;
  }
  #first-section .section-title-wrapper {
    display: none;
  }
  #application-form {
    opacity: 1;
    background-color: #333333;
    position: sticky;
  }
  #application-form .form-inputs {
    margin-bottom: 70px;
  }
  #application-form .form-inputs .inputs-title {
    font-size: 50px;
    text-align: center;
  }
  #application-form .form-inputs .inputs-group {
    flex-wrap: wrap;
    justify-content: center;
  }
  #application-form .form-inputs .inputs-group .application-input,
  #application-form .form-inputs .inputs-group .application-submit-button {
    width: 100%;
  }
  footer {
    position: relative;
    opacity: 1;
  }
  footer .footer-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
