body {
    position: relative;
}

.main-page {
    #first-section {
        background-image: url("/img/first-section.png");
        height: 100vh;
		
		.next-section-title {
			transform: translate(-50%, -50%) !important;
		}
    }

    #premium-class {
        height: 100vh;

        .section-background {
            background-image: url("/img/premium-class-section.png");
        }
    }

    #safety-and-comfort {
        height: 100vh;

        .section-background {
            background-image: url("/img/safety-and-comfort-section.png");
        }
    }

    #improvement {
        height: 100vh;

        .section-background {
            background-image: url("/img/improvement-section.png");
        }
    }

    #design-and-interior {
        height: 100vh;

        .section-background {
            background-image: url("/img/design-and-interior-section.jpg");
        }
    }
    #apartments {
        height: 100vh;

        .section-background {
            background-image: url("/img/apartments-section.jpg");
        }
    }
    #penthouses {
        height: 100vh;

        .section-background {
            background-image: url("/img/penthouses-section.jpg");
        }
    }
}
