body {
    position: relative;
}

header {
    // background: linear-gradient(0deg, rgba(51, 51, 51, 0) 0%, #333333 100%);
    background: none;

    .header-wrapper {

        .logo-main {
            opacity: 0;
        }
    }
}

.main-page {
    height: 100vh;
    overflow-y: auto;

    @keyframes background-animate {
        0% {
            background-size: 300% auto;
        }
        100% {
            background-size: 200% auto;
        }
    }
    @keyframes slogan-animate {
        0% {
            opacity: 0;
        }
        100% {
            opacity: .7;
        }
    }
    #first-section {
        background-image: url("/src/img/first-section.png");
        background-position: top;
        background-size: 300% auto;
        height: 100vh;
        will-change: background-size;
        animation: background-animate 2s linear 1s forwards;

        .mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            inset: 0;

            background: #333333F2;

            mask-image:
                linear-gradient(white, white),
                url("/src/img/logo-main.svg");

            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: 100% 100%, 300px;

            /* вычитаем вторую маску из первой */
            mask-composite: exclude;
            -webkit-mask-composite: xor;
        }

        .slogan {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 250px;
            font-weight: 800;
            color: var(--color-text);
            opacity: 0;
            letter-spacing: 150px;
            line-height: 110%;
            padding: 150px 0 0 77px;
            text-transform: uppercase;
            animation: slogan-animate 1s linear 1s forwards;
        }

        .next-section-title {
            transform: translate(-50%, 50%);
            opacity: 0;
        }
    }

    #premium-class {
        height: 100vh;

        .section-background {
            background-image: url("/src/img/premium-class-section.png");
        }
    }

    #safety-and-comfort {
        height: 100vh;

        .section-background {
            background-image: url("/src/img/safety-and-comfort-section.png");
        }
    }

    #improvement {
        height: 100vh;

        .section-background {
            background-image: url("/src/img/improvement-section.png");
        }
    }

    #design-and-interior {
        height: 100vh;

        .section-background {
            background-image: url("/src/img/design-and-interior-section.jpg");
        }
    }
    #apartments {
        height: 100vh;

        .section-background {
            background-image: url("/src/img/apartments-section.jpg");
        }
    }
    #penthouses {
        height: 100vh;

        .section-background {
            background-image: url("/src/img/penthouses-section.jpg");
        }
    }
}
