body {
    position: relative;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        height: 1px;
    }
}

.mobile-menu {
    position: fixed;
    inset: 0;
    background-color: #333333;
    z-index: 101;
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 1s;
    padding: 60px 20px 0px;
    display: flex;
    flex-direction: column;

    .menu-close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }

    .select-apartmnetn-link {
        width: fit-content;
        margin: 0 auto 60px;
    }

    .phone-group {
        margin-bottom: auto;
    }
}

.filter {
    will-change: opacity;
    opacity: 1;
    z-index: 101;
}

header {
    position: fixed;
    
    .gradient {
        opacity: 0;
        will-change: opacity;
    }

    .header-wrapper {
        .logo-main {
            opacity: 0;
        }
    }
}

.mobile-slider {
    display: none;
    width: 100%;
    height: 100%;
    padding: 100px 20px 20px;

    .slide-wrapper {
        height: 100%;
        
        .slide-text {
            color: var(--color-text);
            margin-bottom: 40px;

            .slide-number {
                font-size: 48px;
                margin-top: 40px;
            }

            .slide-title {
                margin-top: 40px;
                font-size: 40px;
                font-weight: 800;
            }
        }

        .slide-img {
            height: 75vh;
            overflow: hidden;
            border-radius: var(--section-radius);
            position: relative;

            > img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 100%;
                width: auto;
            }
        }
    }
}

.desktop-slider {
    .swiper-slide {
        height: 100vh;
        position: relative;

        > img {
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.desktop-slider-buttons {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    opacity: 0;

    .slider-button {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &.prev {
            background-color: #ffffff;
        }

        &.next {
            background-color: #1C1C1C;
        }
    }

    .swiper-button-prev, .swiper-button-next {
        margin-top: 0;
        position: unset;

        svg {
            display: none;
        }
    }
}

.section-background {
    transform: scale(0.7);
    will-change: transform;
}

.section-wrapper {
    .half-slider {
        display: flex;
        color: var(--color-text);
        height: 100%;

        .half-slider-text {
            width: 50%;
            position: relative;

            .text-wrapper {
                position: absolute;
                inset: 0;
                opacity: 0;
                will-change: transform, opacity;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 0 165px 0 80px;

                .slide-number {
                    font-size: 128px;
                    margin-bottom: 60px;
                }

                .slide-title {
                    font-weight: 800;
                    font-size: 54px;
                }

                .slide-desc {
                    margin-top: 55px;
                    font-size: 32px;
                }
            }
        }

        .half-slider-img {
            overflow: hidden;
            width: 50%;
            height: 100%;
            position: relative;

            .desktop-slider-buttons {
                opacity: 1;
                padding: 0 20px;
            }

            .img-wrapper {
                position: absolute;
                inset: 0;
                height: 100%;
                width: 100%;
                will-change: opacity;
                opacity: 0;

                > img {
                    height: auto;
                    width: auto;
                }
            }
        }
    }

    .section-title-wrapper {
        .section-title {
            will-change: transform, opacity;
            opacity: 0;
        }
    }
}

// Увеличить разрешение картинок, т.к. они больше вьюпорта
.first-section-background {
    top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: scale(3);
    z-index: 1;
    transform-origin: top;

    > img {
        height: 100%;
    }
}

#first-section {
    top: 0;
    height: 100vh;
    z-index: 2;

    > img {
        display: none;
        height: auto;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        inset: 0;
        background: #333333;
        mask-image:
            linear-gradient(white, white),
            url("/src/img/logo-main.svg");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 100% 100%, 300px;
        mask-composite: exclude;
        -webkit-mask-composite: xor;
        opacity: 0;
        transform: scale(11);
        transform-origin: 50% 17%;
        will-change: transform, opacity;
        z-index: 2;
        transition-property: transform, opacity;
        transition-duration: 1.5s;
        transition-timing-function: ease-out;
    }

    .slogan {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        font-size: 250px;
        font-weight: 800;
        color: var(--color-text);
        opacity: 0.7;
        letter-spacing: 150px;
        line-height: 110%;
        padding: 150px 80px 0;
        text-transform: uppercase;
        will-change: transform, opacity;
    }

    &.with-mask {
        .mask {
            opacity: 0.9;
            transform: scale(1);
        }
    }
}

.premium-class-background {
    z-index: 4;
}

#premium-class {
    z-index: 5;

    .premium-class-mobile-button {
        width: 100%;
        font-size: 20px;
        color: #1c1c1c;
        font-weight: 300;
        text-decoration: none;
    }
}

.safety-and-comfort-background {
    z-index: 7;
}

#safety-and-comfort {
    z-index: 8;
}

.improvement-background {
    z-index: 10;
}

#improvement {
    z-index: 11;
}

.design-and-interior-background {
    z-index: 13;
}

#design-and-interior {
    z-index: 14;
}

.apartments-background {
    z-index: 16;
}

#apartments {
    z-index: 17;
}

.penthouses-background {
    z-index: 19;
}

#penthouses {
    z-index: 20;

    .swiper-button-prev, .swiper-button-next {
        margin-top: 0;
        position: unset;

        svg {
            display: none;
        }
    }
}

#application-form {
    z-index: 22;
    opacity: 0;
    will-change: transform, opacity;
}

footer {
    position: fixed;
    opacity: 0;
}

@media (min-width: 2560px) {
    .select-apartmnetn-link {
        font-size: 44px;
    }

    header {
        .header-wrapper {
            .logo-small {
                .logo {
                    height: 84px;
                }

                .slogan {
                    font-size: 36px;
                    line-height: 42px;
                }
            }

            .logo-main {
                > img {
                    height: 200px;
                }
            }

            .info-block {
                .phone {
                    font-size: 44px;
                }
            }
        }
    }

    .desktop-slider-buttons {
        .slider-button {
            width: 94px;
            height: 94px;

            > img {
                width: 44px;
                height: 44px;
            }
        }
    }

    .tags {
        margin-top: 40px;
        font-size: 40px;

        .tag {
            padding: 20px 40px;
        }
    }

    .section-wrapper {
        .half-slider {
            .half-slider-text {
                .text-wrapper {
                    .slide-number {
                        font-size: 148px;
                    }

                    .slide-title {
                        font-size: 74px;
                    }

                    .slide-desc {
                        font-size: 52px;
                    }
                }
            }
        }

        .section-title-wrapper {
            .section-title {
                .title {
                    &.uppercase-title {
                        font-size: 116px;
                        text-transform: uppercase;
                    }

                    &.standart-title {
                        font-size: 74px;
                    }
                }

                .description {
                    margin-top: 20px;
                    font-size: 52px;
                }
            }
        }
    }

    #first-section {
        .slogan {
            font-size: 390px;
        }

        .mask {
            transform-origin: 50% 28%;
        }
    }

    #application-form {
        .form-inputs {
            .inputs-title {
                font-size: 74px;
            }
            .inputs-group {
                .application-input {
                    font-size: 36px;
                }
                .application-submit-button {
                    font-size: 36px;
                    width: 400px;
                    height: 104px;
                }
            }
        }

        .phone-group {
            .phone {
                font-size: 110px;
            }

            .map-preview {
                height: 94px;

                > img {
                    height: 100%;
                    width: auto;
                }
            }

            .button-circle {
                width: 94px;
                height: 94px;

                > img {
                    width: 44px;
                    height: 44px;
                }
            }

            .button-text {
                font-size: 36px;
            }
        }
    }

    .footer-wrapper {
        font-size: 30px;
    }
}
@media (min-width: 1920px) {
    .desktop-slider {
        .swiper-slide {
            > img {
                width: 100%;
                height: auto;
            }
        }
    }

    .section-background {
        > img {
            width: 100%;
            height: auto;
        }

        .swiper-slide {
            > img {
                width: 100%;
                height: auto;
            }
        }
    }

    .section-wrapper {
        .half-slider {
            .half-slider-img {
                .img-wrapper {
                    height: 100vh;

                    > img {
                        width: 100%;
                        height: auto;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }

    .first-section-background {
        > img {
            top: 0;
            transform: translate(-50%, 0%);
        }
    }
}
@media (max-width: 1400px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    header {
        .header-wrapper {
            .logo-small {
                .logo {
                    margin-right: 0;
                }

                .slogan {
                    display: none;
                }
            }

            .logo-main {
                img {
                    height: 120px;
                }
            }

            .info-block {
                .select-apartmnetn-link {
                    display: none;
                }
            }
        }
    }

    .section-wrapper {
        .half-slider {
            .half-slider-text {
                .text-wrapper {
                    padding: 0 40px;

                    .slide-title {
                        font-size: 40px;
                    }

                    .slide-desc {
                        font-size: 22px;
                    }
                }
            }
        }

        .section-title-wrapper {
            .section-title {
                width: calc(100% - 80px);
            }
        }
    }

    #first-section {
        .slogan {
            padding: 150px 40px 0;
            letter-spacing: 65px;
        }
    }

    .phone-group {
        justify-content: center;
        flex-wrap: wrap;

        .phone {
            width: 100%;
            margin-right: 0;
            margin-bottom: 26px;
            text-align: center;
        }

        .map-preview {
            display: none;
        }
    }
}
@media (max-width: 1200px) {
    #first-section {
        .slogan {
            font-size: 210px;
            letter-spacing: 50px;
        }
    }

    .footer-wrapper {
        font-size: 13px;
    }
}
@media (max-width: 992px) {
    body {
        .filter {
            transition-property: opacity;
            transition-timing-function: linear;
            transition-duration: 1s;
            pointer-events: none;
        }

        &.ready {
            .filter {
                opacity: 0;
            }

            #first-section {
                .slogan {
                    display: none;
                }

                .mask {
                    transform: scale(1);
                    opacity: 0.9;
                }
            }
        }

        &.show-menu {
            .mobile-menu {
                transform: translateX(0%);
            }
        }
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    header {
        height: 86px;

        .gradient {
            opacity: 1;
        }

        .header-wrapper {
            padding-top: 20px;

            .burger-menu {
                display: block;
            }

            .logo-main {
                display: none;
            }

            .info-block {
                .phone {
                    display: none;
                }

                .phone-mobile {
                    display: block;
                }
            }
        }
    }

    .section-background {
        display: none;
    }

    .first-section-background {
        transform: scale(1);
        border-radius: 0;
        display: block;
    }

    .mobile-slider {
        display: block;

        .slide-wrapper {
            .slide-img {
                > img {
                    height: auto;
                    width: 100%;
                }

                .mobile-swiper {
                    height: 100%;

                    .swiper-slide {
                        height: 100%;
                        position: relative;

                        > img {
                            width: 100%;
                            height: auto;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }

    .tags {
        font-size: 16px;
    }

    .section-wrapper {
        .desktop-slider-buttons {
            display: none;
        }

        .half-slider {
            display: none;
        }

        .section-title-wrapper {
            display: none;
        }

        .mobile-section-title-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 100px 20px 50px;
            gap: 40px;

            .mobile-img {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: end;

                .img-wrapper {
                    overflow: hidden;
                    border-radius: var(--section-radius);
                    position: relative;
                    height: 30%;

                    > img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: auto;
                    }
                }
            }

            .mobile-section-title {
                font-size: 40px;
                font-weight: 800;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--color-text);
                text-align: center;
            }
        }
    }

    #first-section {
        .slogan {
            display: none;
        }

        .mask {
            transform-origin: 50% 0;
            mask-size: 100% 100%, auto 95%;
            transition-delay: 1s;
        }

        .section-title-wrapper {
            display: block;
        }
    }

    #application-form {
        padding-top: 100px;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;

        .form-wrapper {
            margin-bottom: 30px;
        }

        .form-inputs {
            margin-bottom: 30px;

            .inputs-title {
                font-size: 40px;
                text-align: center;
                margin-bottom: 30px;
            }

            .inputs-group {
                flex-wrap: wrap;
                justify-content: center;

                .application-input, .application-submit-button {
                    width: 100%;
                }

                .application-input {
                    padding-top: 22px;
                    padding-bottom: 22px;
                }

                .application-submit-button {
                    height: 64px;
                }
            }
        }

        .phone-group {
            .phone {
                font-size: 40px;
                margin-bottom: 20px;
            }
        }
    }

    .footer-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    footer {
        position: relative;
        background-color: #333333;
    }
}
@media (max-width: 768px) {
    .mobile-slider {
        .slide-wrapper {
            .slide-img {
                > img {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }

    .mobile-slider {
        .slide-wrapper {
            .slide-img {
                .mobile-swiper {
                    .swiper-slide {
                        > img {
                            width: auto;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    #first-section {
        .section-title-wrapper {
            .section-title {
                .title {
                    font-size: 39px;
                }
            }
        }
    }

    .phone-group {
        .phone {
            font-size: 50px;
        }
    }

    #application-form {
        .form-inputs {
            .inputs-title {
                font-size: 35px;
            }
        }

        .phone-group {
            .phone {
                font-size: 35px;
            }
        }
    }
}
@media (max-width: 576px) {
    .phone-group {
        .phone {
            font-size: 40px;
        }

        .callback-link {
            margin-right: 0;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            margin-bottom: 20px;
        }

        .map-button {
            flex-direction: column;
            width: 100%;
            gap: 10px;
        }
    }

    #application-form {
        .form-inputs {
            margin-bottom: 30px;

            .inputs-title {
                margin-bottom: 30px;
                font-size: 25px;
            }
        }

        .phone-group {
            .phone {
                font-size: 25px;
            }
        }
    }
}