body {
    position: relative;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    &.dev {
        height: auto;
        overflow: auto;

        header {
            .gradient {
                opacity: 1;
            }

            .header-wrapper {
                .logo-main {
                    opacity: 1;
                }
            }
        }

        .filter {
            z-index: 0;
        }

        .section-background {
            position: relative;
            top: unset;
            transform: scale(1.2);
        }

        .section-wrapper {
            position: relative;
            top: unset;
            bottom: unset;
            transform: translateY(-100%);

            .half-slider {
                display: none;
            }

            .section-title {
                opacity: 1;
            }
        }

        #apartments {
            transform: translateY(-100%);

            .slider-buttons {
                // opacity: 1;
            }

            // .section-title-wrapper {
            //     display: none;
            // }
        }

        #application-form {
            opacity: 1;
        }

        footer {
            opacity: 1;
        }
    }
}

.mobile-menu {
    position: fixed;
    inset: 0;
    background-color: #333333;
    z-index: 101;
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 1s;
    padding: 60px 20px 0px;
    display: flex;
    flex-direction: column;

    .menu-close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }

    .select-apartmnetn-link {
        width: fit-content;
        margin: 0 auto 60px;
    }

    .phone-group {
        margin-bottom: auto;
    }
}

.filter {
    will-change: opacity;
    opacity: 1;
    z-index: 101;
}

header {
    .gradient {
        opacity: 0;
        will-change: opacity;
    }

    .header-wrapper {
        .logo-main {
            opacity: 0;
        }
    }
}

.section-background {
    transform: scale(0.7);
    will-change: transform;

    .fullscreen-slider {
        height: 100%;
        overflow: hidden;
        position: relative;

        .img-wrapper {
            position: absolute;
            inset: 0;
            opacity: 0;
            width: 100%;
            will-change: opacity;

            img {
                width: auto;
                height: auto;
            }
        }
    }
}

.section-wrapper {
    .half-slider {
        display: flex;
        color: var(--color-text);
        height: 100%;

        .half-slider-text {
            width: 50%;
            position: relative;

            .text-wrapper {
                position: absolute;
                inset: 0;
                opacity: 0;
                will-change: transform, opacity;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 0 165px 0 80px;

                .slide-number {
                    font-size: 128px;
                    margin-bottom: 60px;
                }

                .slide-title {
                    font-weight: 800;
                    font-size: 54px;
                }

                .slide-desc {
                    margin-top: 55px;
                    font-size: 32px;
                }
            }
        }

        .half-slider-img {
            overflow: hidden;
            width: 50%;
            height: 100%;
            position: relative;

            .img-wrapper {
                position: absolute;
                inset: 0;
                height: 100%;
                width: 100%;
                will-change: opacity;
                opacity: 0;

                img {
                    width: auto;
                    height: auto;
                }
            }
        }
    }

    .slider-buttons {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 70px;
        display: flex;
        justify-content: space-between;
        z-index: 5;
        opacity: 0;

        .slider-button {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &.prev {
                background-color: #ffffff;
            }

            &.next {
                background-color: #1C1C1C;
            }
        }
    }

    .mobile-slider {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;

        > img {
            display: none;
        }

        .mobile-slider-filter {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            background-color: #333333;
            opacity: 0;
            z-index: 1;
        }

        .swiper-button-prev, .swiper-button-next {
            color: var(--color-text);
            opacity: 0;
        }

        .slider-pagination {
            position: absolute;
            left: 50% !important;
            transform: translateX(-50%);
            z-index: 4;
            width: auto !important;
            opacity: 0;

            .swiper-pagination-bullet {
                background: #ffffff;
                opacity: 1;

                &.swiper-pagination-bullet-active {
                    background: var(--accent-color);
                }
            }
        }

        .swiper-slide .img-wrapper {
            height: 100%;
            width: 100%;

            img {
                width: auto;
                height: auto;
            }
        }

        .mobile-slide-text {
            width: 100%;
            height: fit-content;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding-bottom: 50px;
            padding-top: 50px;
            color: var(--color-text);
            text-align: center;
            opacity: 0;
            text-shadow: 0px 0px 15px #000000;

            .slide-title {
                font-size: 54px;
                font-weight: 800;
            }

            .slide-description {
                margin-top: 10px;
                font-size: 25px;
            }
        }
    }

    .section-title-wrapper {
        .section-title {
            will-change: transform, opacity;
            opacity: 0;
        }
    }
}

// Увеличить разрешение картинок, т.к. они больше вьюпорта
.first-section-background {
    top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: scale(3);
    z-index: 1;
    transform-origin: top;

    > img {
        height: 100%;
    }
}

#first-section {
    top: 0;
    height: 100vh;
    z-index: 2;

    > img {
        display: none;
        height: auto;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        inset: 0;
        background: #333333;
        mask-image:
            linear-gradient(white, white),
            url("/src/img/logo-main.svg");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 100% 100%, 300px;
        mask-composite: exclude;
        -webkit-mask-composite: xor;
        opacity: 0;
        transform: scale(11);
        transform-origin: 50% 17%;
        will-change: transform, opacity;
        z-index: 2;
        transition-property: transform, opacity;
        transition-duration: 1.5s;
        transition-timing-function: ease-out;
    }

    .slogan {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        font-size: 250px;
        font-weight: 800;
        color: var(--color-text);
        opacity: 0.7;
        letter-spacing: 150px;
        line-height: 110%;
        padding: 150px 80px 0;
        text-transform: uppercase;
        will-change: transform, opacity;
    }

    &.with-mask {
        .mask {
            opacity: 0.9;
            transform: scale(1);
        }
    }
}

.premium-class-background {
    z-index: 4;
}

#premium-class {
    z-index: 5;
}

.safety-and-comfort-background {
    z-index: 7;
}

#safety-and-comfort {
    z-index: 8;
}

.improvement-background {
    z-index: 10;
}

#improvement {
    z-index: 11;
}

.design-and-interior-background {
    z-index: 13;
}

#design-and-interior {
    z-index: 14;
}

.apartments-background {
    z-index: 16;
}

#apartments {
    z-index: 17;

    .swiper-button-prev, .swiper-button-next {
        margin-top: 0;
        position: unset;

        svg {
            display: none;
        }
    }
}

.penthouses-background {
    z-index: 19;
}

#penthouses {
    z-index: 20;

    .swiper-button-prev, .swiper-button-next {
        margin-top: 0;
        position: unset;

        svg {
            display: none;
        }
    }
}

#application-form {
    z-index: 22;
    opacity: 0;
    will-change: transform, opacity;
}

footer {
    opacity: 0;
}

@media (max-width: 1400px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    header {
        .header-wrapper {
            .logo-small {
                .logo {
                    margin-right: 0;
                }

                .slogan {
                    display: none;
                }
            }

            .logo-main {
                img {
                    height: 120px;
                }
            }

            .info-block {
                .select-apartmnetn-link {
                    display: none;
                }
            }
        }
    }

    .section-wrapper {
        .half-slider {
            .half-slider-text {
                .text-wrapper {
                    padding: 0 40px;

                    .slide-title {
                        font-size: 40px;
                    }

                    .slide-desc {
                        font-size: 22px;
                    }
                }
            }
        }

        .section-title-wrapper {
            .section-title {
                width: calc(100% - 80px);
            }
        }
    }

    #first-section {
        .slogan {
            padding: 150px 40px 0;
            letter-spacing: 65px;
        }
    }

    .phone-group {
        justify-content: center;
        flex-wrap: wrap;

        .phone {
            width: 100%;
            margin-right: 0;
            margin-bottom: 26px;
            text-align: center;
        }

        .map-preview {
            display: none;
        }
    }
}
@media (max-width: 1200px) {
    #first-section {
        .slogan {
            font-size: 210px;
            letter-spacing: 50px;
        }
    }

    .footer-wrapper {
        font-size: 13px;
    }
}
@media (max-width: 992px) {
    body {
        height: auto;
        overflow: auto;

        .filter {
            transition-property: opacity;
            transition-timing-function: linear;
            transition-duration: 1s;
            pointer-events: none;
        }

        &.ready {
            .filter {
                opacity: 0;
            }
        }

        &.show-menu {
            .mobile-menu {
                transform: translateX(0%);
            }
        }

        .paralax-wrapper {
            height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;
            perspective: 1px;
            perspective-origin: top;
        }
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    header {
        .gradient {
            opacity: 1;
        }

        .header-wrapper {
            padding-top: 20px;

            .burger-menu {
                display: block;
            }

            .logo-main {
                display: none;
            }

            .info-block {
                .phone {
                    display: none;
                }

                .phone-mobile {
                    display: block;
                }
            }
        }
    }

    .section-background {
        position: relative;
        transform: translateZ(-1px) scale(2);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        top: unset;
        z-index: 0;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: #333333;
            opacity: .8;
            width: 100%;
            height: 100%;
        }
    }

    .section-wrapper {
        position: relative;
        top: 0;
        bottom: unset;
        overflow: unset;

        > img {
            display: block;
        }
        
        .slider-buttons {
            padding: 0 20px;
        }

        .mobile-slider {
            display: block;
        }

        .half-slider {
            display: none;
        }

        .section-title-wrapper {
            transform: translateY(-100%);

            .section-title {
                opacity: 1;
                transform: translate(-50%, -50%);

                .title.uppercase-title {
                    font-size: 70px;
                }
            }
        }
    }

    .first-section-background {
        display: none;
    }

    #first-section {
        transform: scale(1);
        border-radius: 0;

        > img {
            display: block;
            height: 100vh;
        }

        .slogan {
            display: none;
        }

        .mask {
            transform: scale(1);
            opacity: .9;
        }

        .section-title-wrapper {
            display: none;
        }
    }

    #application-form {
        opacity: 1;
        margin-bottom: 0;

        // TODO: временно, убрать
        background-color: #333333;

        .form-inputs {
            margin-bottom: 70px;

            .inputs-title {
                font-size: 50px;
                text-align: center;
            }

            .inputs-group {
                flex-wrap: wrap;
                justify-content: center;

                .application-input, .application-submit-button {
                    width: 100%;
                }

                
            }
        }
    }

    footer {
        position: relative;
        opacity: 1;
        // TODO: временно, убрать
        background-color: #333333;
    }

    .footer-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
@media (max-width: 768px) {
    .phone-group {
        .phone {
            font-size: 50px;
        }
    }

    #application-form {
        .form-inputs {
            .inputs-title {
                font-size: 35px;
            }
        }
    }
}
@media (max-width: 576px) {
    .phone-group {
        .phone {
            font-size: 40px;
        }

        .callback-link {
            margin-right: 0;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            margin-bottom: 20px;
        }

        .map-button {
            flex-direction: column;
            width: 100%;
            gap: 10px;
        }
    }

    #application-form {
        .form-inputs {
            margin-bottom: 30px;

            .inputs-title {
                margin-bottom: 30px;
                font-size: 25px;
            }
        }
    }
}