:root {
    --color-text: #ffffff;
    --accent-color: #fac56a;
    --section-radius: 60px;
}

@font-face {
    font-family: "Gilroy";
    src:
        url("/src/fonts/Gilroy-Light.woff2") format("woff2"),
        url("/src/fonts/Gilroy-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src:
        url("/src/fonts/Gilroy-Extrabold.woff2") format("woff2"),
        url("/src/fonts/Gilroy-Extrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

* { 
    box-sizing: border-box; 
}

body {
    font-family: "Gilroy", system-ui, sans-serif;
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;
}

.container {
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
}

.filter {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: #333333;
}

.button-circle {
    width: 64px;
    height: 64px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;

    .button-content {
        font-size: 24px;
        width: 24px;
        height: 24px;
    }
}

.button-accent {
    background-color: var(--accent-color);
}

.button-square {
    height: 84px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.button-with-text {
    display: flex;
    align-items: center;
    gap: 20px;

    .button-text {
        font-size: 16px;
        color: var(--color-text);
    }
}

.text-input {
    outline: none;
    border: 1px solid #6e7378;
    border-radius: 10px;
    color: var(--color-text);
    background: none;
    padding: 33px 31px;
    font-size: 16px;
}

header {
    width: 100vw;
    height: 268px;
    top: 0;
    z-index: 100;

    .gradient {
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(51, 51, 51, 0) 0%, #333333 100%);
    }

    .header-wrapper {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        position: relative;

        .burger-menu {
            display: none;
            cursor: pointer;
        }

        .logo-small {
            display: flex;
            align-items: center;
            cursor: pointer;

            .logo {
                margin-right: 58px;
            }

            .slogan {
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 15px;
                text-transform: uppercase;
                color: var(--accent-color);
                width: 161px;
            }
        }

        .logo-main {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 27px;
        }

        .info-block {
            display: flex;
            align-items: center;

            .phone {
                font-weight: 800;
                font-size: 24px;
                line-height: 100%;
                text-align: center;
                color: #ffffff;
                text-decoration: none;
            }

            .phone-mobile {
                display: none;
            }
        }
    }
}

.select-apartmnetn-link {
    font-size: 24px;
    display: block;
    text-decoration: none;
    color: var(--color-text);
    position: relative;
    margin-right: 115px;

    &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: var(--accent-color);
        bottom: -12px;
        left: 0;
    }
}

.section-background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 100%;
    overflow: hidden;
    transform-origin: center top;
    border-top-left-radius: var(--section-radius);
    border-top-right-radius: var(--section-radius);

    > img {
        height: 100%;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.tags {
    margin-top: 20px;
    font-size: 20px;
    color: #1C1C1C;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: 300;

    .tag {
        padding: 10px 20px;
        background-color: #ffffff99;
        border-radius: 40px;

        &.accent {
            background-color: var(--accent-color)
        }
    }
}

.section-wrapper {
    position: absolute;
    top: 100%;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    will-change: transform;

    .section-title-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 3;

        .section-title {
            color: var(--color-text);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            width: calc(100% - 160px);

            .title {
                 &.bold-title {
                    font-weight: 800;
                }

                &.uppercase-title {
                    font-size: 96px;
                    text-transform: uppercase;
                }

                &.standart-title {
                    font-size: 54px;
                }
            }

            .description {
                margin-top: 20px;
                font-size: 32px;
            }

            &.with-decorate {
                &::before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 150px;
                    background-color: var(--accent-color);
                    left: 50%;
                    transform: translate(-50%, -100%);
                    top: -35px;
                }
            }
        }
    }

    .mobile-section-title-wrapper {
        display: none;
    }
}

.phone-group {
    display: flex;
    align-items: center;

    .phone {
        font-weight: 800;
        font-size: 90px;
        line-height: 90px;
        text-decoration: none;
        color: var(--color-text);
        display: block;
        margin-right: 26px;
        height: 75px;
    }

    .callback-link {
        margin-right: 56px;
    }

    .map-preview {
        border-radius: 50%;
        cursor: pointer;
        margin-right: 17px;
        height: 64px;
    }
}

#application-form {
    position: relative;
    display: flex;
    align-items: center;

    .form-inputs {
        margin-bottom: 166px;

        .inputs-title {
            font-weight: 800;
            font-size: 54px;
            color: var(--color-text);
            margin-bottom: 70px;
        }

        .inputs-group {
            display: flex;
            align-items: center;
            gap: 21px;

            .application-input {
                width: 505px;

                &::placeholder {
                    color: var(--color-text);
                    opacity: 1;
                }
            }

            .application-submit-button {
                width: 375px;
                appearance: none;
                -webkit-appearance: none;
                border: none;
                transition: opacity 0.2s ease;

                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }
}

footer {
    bottom: 0;
    z-index: 100;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text);
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid var(--accent-color);
    position: relative;
    font-size: 16px;

    .legal-entity {
        text-transform: uppercase;
    }

    .public-offer {
        text-align: center;
    }

    .privacy-policy {
        display: block;
        color: var(--color-text);
    }
}
